In [1]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(data)

In [4]:
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
df.dropna()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [8]:
import numpy as np

In [10]:
data1 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, np.nan, 30, 35],
    'City': ['New York', 'Los Angeles', np.nan, 'Chicago']
}

In [11]:
df1 = pd.DataFrame(data1)

In [12]:
df1

      Name   Age         City
0    Alice  25.0     New York
1      Bob   NaN  Los Angeles
2  Charlie  30.0          NaN
3    David  35.0      Chicago

In [13]:
df1.dropna()

    Name   Age      City
0  Alice  25.0  New York
3  David  35.0   Chicago

In [14]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [15]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [16]:
df.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [17]:
df.dropna(axis='columns')

       name
0    Alfred
1    Batman
2  Catwoman

In [18]:
df.dropna(how='all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [20]:
df.dropna(how='all', axis=1)

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [21]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, np.nan, np.nan],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [22]:
df

       name  toy       born
0    Alfred  NaN        NaT
1    Batman  NaN 1940-04-25
2  Catwoman  NaN        NaT

In [23]:
df.dropna(how='all')

       name  toy       born
0    Alfred  NaN        NaT
1    Batman  NaN 1940-04-25
2  Catwoman  NaN        NaT

In [24]:
df.dropna(how='all', axis=1)

       name       born
0    Alfred        NaT
1    Batman 1940-04-25
2  Catwoman        NaT

In [25]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

In [26]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [27]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [28]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [29]:
df.drop_duplicates(subset=['brand'])

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [30]:
df.drop_duplicates(subset=['style'])

     brand style  rating
0  Yum Yum   cup     4.0
3  Indomie  pack    15.0

In [31]:
df.drop_duplicates(subset=['style'], keep="last")

     brand style  rating
2  Indomie   cup     3.5
4  Indomie  pack     5.0

In [32]:
df.drop_duplicates(subset=['style'], keep=False)

Empty DataFrame
Columns: [brand, style, rating]
Index: []

In [33]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [34]:
df.shape

(5, 3)

In [35]:
df.info

<bound method DataFrame.info of      brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0>

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   5 non-null      object
 1   style   5 non-null      object
 2   rating  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

In [37]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [38]:
df.['style'].value_counts(dropna=False)

SyntaxError: invalid syntax (2081475923.py, line 1)

In [39]:
df['style'].value_counts(dropna=False)

style
cup     3
pack    2
Name: count, dtype: int64

In [40]:
df['brand'].value_counts(dropna=False)

brand
Indomie    3
Yum Yum    2
Name: count, dtype: int64

In [41]:
df['brand'].value_counts(dropna=True)

brand
Indomie    3
Yum Yum    2
Name: count, dtype: int64

In [42]:
df.notnull()

   brand  style  rating
0   True   True    True
1   True   True    True
2   True   True    True
3   True   True    True
4   True   True    True

In [44]:
df.isnull()

   brand  style  rating
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False

In [45]:
df['brand'].isnull()

0    False
1    False
2    False
3    False
4    False
Name: brand, dtype: bool

In [47]:
import pandas as pd

In [49]:
data=pd.read_excel('data.xlsx')

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [55]:
data = pd.read_excel('data.xlsx', engine='openpyxl')

BadZipFile: File is not a zip file

In [56]:
import mimetypes

file_type, _ = mimetypes.guess_type("data.xlsx")

In [57]:
file_type

'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'

In [58]:

data = pd.read_csv("data.xlsx")

In [59]:
data

    name  roll no.      city
0  harry        12  mirzapur
1  harsh        34    kanpur
2    raj        24   pragraj

In [64]:
data = pd.read_csv("data.xlsx", sheet_name='sheet2')

TypeError: read_csv() got an unexpected keyword argument 'sheet_name'

In [66]:
import pandas as pd

data = pd.read_excel("data.xlsx", sheet_name="sheet2", engine="openpyxl")
data.head()

BadZipFile: File is not a zip file

In [67]:
data = pd.read_csv("data.xlsx")

In [68]:
data

    name  roll no.      city
0  harry        12  mirzapur
1  harsh        34    kanpur
2    raj        24   pragraj

In [69]:
data = pd.read_csv("data.xlsx",sheet_name='sheet2')

TypeError: read_csv() got an unexpected keyword argument 'sheet_name'

In [70]:
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])

In [71]:
df1.to_excel("output.xlsx")

In [72]:
df1

      col 1 col 2
row 1     a     b
row 2     c     d

In [73]:
df1.to_excel("data.xlsx")

In [74]:
df1

      col 1 col 2
row 1     a     b
row 2     c     d

In [76]:
df1.to_excel( "data.xlsx",sheet_name='sheet2')

In [77]:
df1

      col 1 col 2
row 1     a     b
row 2     c     d

In [78]:
df1.to_excel( "data.xlsx",sheet_name='sheet3')

In [79]:
df1

      col 1 col 2
row 1     a     b
row 2     c     d